<html>
    <head>
        <title>Search Result</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <h1 class="create-update">{{message}}</h1>
         <table >
            <tr>
                <th>Username</th>
                <th>Password</th> 
                <th>Email Id</th>
                <th>Phone number</th>
                <th>dateTime</th>
            </tr>
            <tr>
                <td>{{userName}}</td>
                <td>{{password}}</td> 
                <td>{{emailId}}</td>
                <td>{{phoneNumber}}</td>
                <td>{{dateTime}}</td>
            </tr>
        </table>
        <a href="/">Home Application</a>
    </body>
</html>